@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;900&family=Poppins:wght@900&family=Roboto+Flex:opsz,wght@8..144,200&display=swap');

 *{   padding: 0;
    font-family: 'Montserrat', sans-serif;
}
@import url(//fonts.googleapis.com/css?family=Lato:300:400);

body {
  margin:0;
}
.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}


.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (min-width: 320px) {
 

  
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
 
}

.navbar{
    display: flex;
    
    
}
.menu{
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin-left: 50px;
}
.menu li {
    list-style: none;
}
.menu a {
    color: white;
    text-decoration: none;

}
.menu a:hover{
    color: aqua;
}
.main{
    margin-left: 45px;
    width: 70vw;
    height: 0vh;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    

}
.img1{
  margin-left: 50px;
  width: 350px;
  border-radius: 120px;
  opacity: 0.5;
}



section {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .containerD {
    
    width: 90%;
    max-width: 1000px;
    margin: 50px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: aqua; */
  }
  
  .leftdiv {
    margin-left: 30px;
    width: 100%;
    height: 550px;
    background: url(./imagenes/Myproject.png)
      no-repeat center / cover;
    border-radius: 8px;
  }
  .rightdiv {
    
    width: 40%;
    min-height: 200px;
    background-color: #00649c;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 8px;
    color: white;
    margin-left: -100px;
    opacity: 0.9;
  }
  .rightdiv h3 {
    font-size: 40px;
    font-weight: lighter;
  }
  .rightdiv p {
    margin: 20px 0;
    font-weight: 500;
    line-height: 25px;
  }
  .rightdiv a {
    text-decoration: none;
    text-transform: uppercase;
    background-color: white;
    color: black;
    padding: 20px 30px;
    display: inline-block;
    letter-spacing: 2px;
  }
  
  @media only screen and (max-width: 768px) {
    .containerD {
      flex-direction: column;
      width: 100%;
      margin: 0 20px;
    }
    .leftdiv {
      width: 100%;
      height: 400px;
    }
    .rightdiv {
      width: 90%;
      margin: 0;
      margin-top: -100px;
    }
  }





/*----------------------------------------*/
.Ligas{
  
    min-height:100vh;
    display:inline-block;
    justify-content:center;
    align-items:center;
    
  }

.wrapper {
  display: flex;
  width: 90%;
  justify-content: space-around;
}
.card {
  width: 280px;
  height: 360px;
  border-radius: 15px;
  padding: 1.5rem;
  background: white;
  position: relative;
  display: flex;
  align-items: flex-end;
  transition: 0.4s ease-out;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
.card:hover {
  transform: translateY(20px);
}
.card:hover:before {
  opacity: 1;
}
.card:hover .info {
  opacity: 1;
  transform: translateY(0px);
}
.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 2;
  transition: 0.5s;
  opacity: 0;
}
.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
}
.card .info {
  position: relative;
  z-index: 3;
  color: white;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s;
}
.card .info h1 {
  margin: 0px;
}
.card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
}
.card .info button {
  padding: 0.6rem;
  outline: none;
  border: none;
  border-radius: 3px;
  background: white;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s ease;
}
.card .info button:hover {
  background: dodgerblue;
  color: white;
}

/*------------------------------------------------------*/





.service{ 
   background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%); 
   -webkit-clip-path: ellipse(54% 72% at 50% 93%);
clip-path: ellipse(54% 92% at 50% 93%);}

.service__cards{
  max-width: 1200px;
  margin: auto;
  
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
  
  
}

.servicecard{
  width: 300px;
  margin: 10px;
  transition: all 300ms;
}

.servicecard:hover{
  width: 350px;
}

.servicecard .cover{
  width: 100%;
  height: 350px;
  position: relative;
  overflow: hidden;
}

.servicecard .cover img{
  width: 250px;
  display: block;
  margin: auto;
  position: relative;
  top: 40px;
  z-index: 1;
  filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
  transition: all 400ms;
}

.servicecard:hover .cover img{
  top: 0px;
  filter: none;
}

.servicecard.img__back{
  width: 100%;
  height: 200px;
  position: absolute;
  bottom: -80px;
  left: 0;
  background-size: cover;
  border-radius: 20px;
  transition: all 300ms;
}

.servicecard:nth-of-type(1) .img__back{
  background-image: url(./imagenes/fondo/png.jpg);
}

.servicecard:nth-of-type(2) .img__back{
  background-image:url(./imagenes/fondo/png.jpg);
}

.servicecard:nth-of-type(3) .img__back{
  background-image: url(./imagenes/fondo/png.jpg);
}

.servicecard:hover .img__back{
  bottom: -40px;
}

.servicecard .description{
  background: white;
  margin-top: -10px;
  padding: 20px;
  border-radius: 0px 0px 20px 20px;
  transition: all 300ms;
  color:  #00649c;
}

.servicecard:hover .description{
  padding: 40px;
}

.servicecard .description h2{
  margin-top: 10px;
  font-size: 25px;
}

.servicecard.description p{
  margin-top: 10px;
}

.servicecard .description a {
  text-decoration: none;
  padding: 10px 40px;
  margin-top: 20px;
  border: none;
  background:  #00649c;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 8px;
  transition: all 300ms;
}

.servicecard.description input:hover{
  background:  #00649c;
}




/*---------------- foooteeer------------------------*/






.site-footer
{
  background-color:#26272b;
  align-items: center;
  font-size:15px;
  line-height:24px;
  color:#00649c;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}

.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color: white;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#00649c;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:white;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}

.box__footer{
  
    display:flex ;
    flex-direction: column;
    
    padding: 0 90px  ;
}
.containerbox{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
 
}


.box__footer a {
 
    margin-top: 10px;
    color: #7a7a7a;
    font-weight: 300;
    text-decoration: none;
}
i{ padding: 5px;}

.box__footer a:hover{
    opacity: 0.8;
}

  

.texT {
  text-transform: uppercase;
  background: linear-gradient(to right, #30CFD0 0%, #330867 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 8vw;
  font-family: "Poppins", sans-serif;
  text-align: center;
}

.center{
  margin:1% auto;
  width:600px;
  text-align:center;
  position:relative;
}

.buton{
  color: #3b5998;
  background:#fff;
  font-size: 30px;
  text-decoration:none;
  padding:1em;
  position:relative;
  display:block;
  cursor:pointer;
  -webkit-transition:500ms all ease-ot;
  -moz-transition:500ms all ease-out;
  -o-transition:500ms all ease-out ;
  transition:500ms ease-out;
}

.hover::after,.hover::before,
.text::before,.text::after{
  content:'';
  box-sizing:border-box;
  position:absolute;
  background:#00649c;
  -webkit-transition:500ms all eases ;
  -moz-transition:500ms all ease-out ;
  -o-transition:500ms all ease-out ;
  transition: 500ms all ease-out;
}

.hover::after{
  right:0;
  bottom:0;
  width:0;
  height:3px;
}

.hover::before{
  right:0;
  bottom:0;
  height:0;
  width:3px;
}

.text::after{
  top:0;
  left:0;
  width:0px;
  height:3px;
}

.text::before{
  top:0;
  left:0;
  height:0px;
  width:3px;
}

.buton:hover .hover::after{
  width:100%;
  height:3px;
}

.buton:hover .text::after{
  width:100%;
  height:3px;
}

.buton:hover .text::before{
  height:100%;
  width:3px;
}

.buton:hover .hover::before{
  height:100%;
  width:3px;
}

.buton:hover .text,
.buton:hover .fa-home{
  color: #00aced;
}

.buton:hover .fa-home{
  -webkit-animation-name: spin;
  -webkit-animation-duration: 300ms;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-out;
}

@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }	
}






@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.slider {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 200px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 960px;
}
.slider::before, .slider::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 200px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.slider::before {
  left: 0;
  top: 0;
}
.slider .slide-track {
  -webkit-animation: scroll 10s linear infinite;
          animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 12);
 
}
.slider .slide {
  height: 250px;
  width: 250px;
 
}




/*---------------- pagina de reglamentacion------------------------*/

.foto1{
  align-items: center;
  padding-top: 45px;
}
/*---------------- pagina de nosotros------------------------*/
.izquierda {
  background: #007bb6;
  height: 90vh;
  width: 50%;
  -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
  
}
.izquierda2{
  height: 90vh;
  width: 50%;

}
.fotocinta{
  margin: auto;
 
}
.tres .fotocinta3{
  margin-left: 80px;
  
}
.fotosfinales{
  text-align: center;}

.cinta {
  position: relative;
  text-align: center;
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 20px auto 10px;
}
.uno:before,
.dos:before,
.dos:after,
.tres:before,
.tres:after,
.cuatro:before,
.cuatro:after {
  content: "";
  display: block;
  width: 100px;
  height: 30px;
  position: relative;
  top: 20px;
  margin: auto;
  background: rgba(255, 255, 200, 0.6);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}
/* Esto es sólo algo de estilo adicional para la imagen */
.cinta img {
  display: inline-block;
  *display: inline;
  zoom: 1;
  border: 1px solid #ddd;
  margin: 0 20px;
  padding: 8px;
  background: #fff;
  text-align: center;
  vertical-align: top;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
}

.tres:before,
.tres:after {
  position: absolute;
  top: 10px;
}
.tres:before {
  left: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.tres:after {
  top: inherit;
  bottom: 10px;
  right: 0;
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  transform: rotate(-35deg);
}



/* Esto es sólo algo de estilo adicional para la imagen */
.cinta img {
  display: inline-block;
  *display: inline;
  zoom: 1;
  border: 1px solid #ddd;
  margin: 0 20px;
  padding: 8px;
  background: #fff;
  text-align: center;
  vertical-align: top;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.4);
  max-width: 100%;
  height: auto;
}

#pantalla-dividida{
 
  display: flex;
}
.dodgeball{
  color: #fff;
}
.izquierda h1{
  font-size: 60px;
  width: 50%;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
  font-weight: 700;
}
.izquierda p {
  font-size: 20px;
  line-height: 30px;
  width: 50%;
  margin: auto;
  color: #fff;
}
.izquierda2 p {
  font-size: 20px;
  line-height: 30px;
  width: 40%;
  margin: auto;
  color: #007bb6;
}
.izquierda2 h1{
  font-size: 60px;
  width: 50%;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
  font-weight: 700;
  color: #023047;
}
.finaltext h1{
  font-size: 80px;
  width: 70%;
  margin: auto;
  margin-bottom: 40px;
  margin-top: 40px;
  font-weight: 700;
  color: #023047;
}
.finaltext p{
  font-size: 20px;
  line-height: 30px;
  width: 60%;
  margin: auto;
  margin-left: 450px;
  color: #007bb6;

}


.botonWps{
  position: fixed;
  right: 35px;
  bottom: 50px;
  width: 80px;
  height: 80px;
  z-index: 100;
  
}